@import url("../components/navbar.css");
@import url("../components/font.css");
@import url("../components/scrollbar.css");
@import url("../member/main-content.css");

.page-content {
  flex: 1;
  padding-top: 60px;
  padding-bottom: 100px; /* INI YANG BIKIN NAPAS KE FOOTER */
}

.client-hero {
  height: 50vh;
  background: url("/src/w1.jpg") center / cover no-repeat;
  display: flex;
  align-items: center;
  position: relative;
}

.client-hero .header-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to right,
    rgba(5, 11, 23, 0.9),
    rgba(5, 11, 23, 0.35)
  );
}

.client-hero .header-content {
  position: relative;
  z-index: 2;
  max-width: 720px;
}

.client-hero .heading {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.25;
  color: #ffffff;
  text-align: center;
}

.client-hero .heading span {
  color: #ff2e63;
}

/* BOOK CARD */
.book-card img {
  width: 100%;
  border-radius: 6px;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.book-card:hover img {
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}

/* NO COVER */
.no-cover {
  width: 100%;
  aspect-ratio: 3 / 4;
  background: #f1f3f5;
  border: 2px dashed #adb5bd;
  border-radius: 6px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #6c757d;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 13px;
}

.book-card:hover .no-cover {
  background: #e9ecef;
}
