@import url("../components/font.css");
@import url("../components/modal.css");
@import url("../components/menu/navbar.css");
@import url("../components/menu/sidebar.css");

.heading{
    font-family: "Lora", serif;

}