::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #babac0;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #babac0;
}
