body {
  overflow-x: hidden;
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #1E3A5F;
  z-index: 1100;
}

#toggleSidebar {
  background-color: #0C1E3D;
  color: #fff;
}
#toggleSidebar:hover {
  background-color: #1E3A5F;
  color: #fff;
}