.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: #0C1E3D;
  color: #fff;
  padding-top: 56px;
  transition: width 0.3s ease;
  overflow-x: hidden;
  z-index: 1000;
}

.sidebar {
  width: 65px;
}

.sidebar.collapsed {
  width: 65px;
}

.sidebar.collapsed .link-text {
  display: none;
}

.sidebar.expanded {
  width: 200px;
}

.sidebar.expanded .link-text {
  display: inline-block;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.sidebar .nav-link {
  color: #fff;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Work Sans", sans-serif;
  transition: background 0.2s ease;
}

.sidebar .nav-link .link-text {
  white-space: nowrap;
}
.sidebar.collapsed .bi-caret-down-fill {
  display: none;
}

@media (max-width: 768px) {
  .sidebar {
    width: 160px;
  }
  .sidebar.collapsed {
    width: 70px;
  }
  .content {
    margin-left: 0 !important;
  }
}

.sidebar i {
  font-size: 18px;
}

.sidebar ul {
  padding-left: 0;
  margin: 0;
  list-style: none;
}
