<div
    class="modal fade"
    id="logoutModal"
    tabindex="-1"
    aria-labelledby="logoutModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content border-0 rounded-4">
        <div class="modal-header text-white rounded-top">
          <h5 class="modal-title" id="logoutModalLabel">
            <i class="bi bi-box-arrow-right me-2"></i>Konfirmasi Logout
          </h5>
          <button
            type="button"
            class="btn-close btn-close-white"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">Apakah kamu yakin ingin logout?</div>
        <div class="modal-footer justify-content-end">
          <button type="button" class="btn" data-bs-dismiss="modal">
            Batal
          </button>
          <a href="/login" class="btn">Logout</a>
        </div>
      </div>
    </div>
  </div>
</div>