<div class="layout d-flex">
  <aside id="sidebar" class="sidebar collapsed">
    <ul class="nav flex-column mt-3">
      <li class="nav-item">
        <a class="nav-link" href="/admin/dashboard"><i class="bi bi-house-door-fill"></i><span class="link-text">Home</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/books"><i class="bi bi-book"></i><span class="link-text">Book</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/user-managements"><i class="bi bi-person"></i><span class="link-text">User Management</span></a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/admin/transactions"><i class="bi bi-credit-card"></i><span class="link-text">Transaction</span></a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/admin/reports"><i class="bi bi-journal"></i><span class="link-text">Report</span></a>
      </li>
    </ul>
  </aside>
</div>